client/node_modules/
client/.expo/
client/.expo-shared/
client/package-lock.json
client/package.json

dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

#
APIBookSaling/.vs
APIBookSaling/APIBookSaling/bin
APIBookSaling/APIBookSaling/obj
APIBookSaling/APIBookSaling/packages
APIBookSaling/APIBookSaling/appsettings.json

# macOS
.DS_Store

