client/node_modules/
client/.expo/

dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

#
APIBookSaling/.vs
APIBookSaling/APIBookSaling/bin
APIBookSaling/APIBookSaling/obj
APIBookSaling/APIBookSaling/packages

# macOS
.DS_Store
